<div class="card m-3 shadow-sm">
    <div class="card-header" style="background: #B0BEC5">
        <h4 class="text-center">Manage Salary Details</h4>
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div class="form-group m-3">
                <label for="select_department">Select Department</label>
                <select class="form-control form-control-sm" id="select_department">
                    <option value="married">Design</option>
                    <option value="unmarried">Accounts</option>
                </select>
            </div>
            <div class="form-group m-3">
                <label for="select_designation">Select Designation</label>
                <select class="form-control form-control-sm" id="select_designation">
                    <option value="married">Senior Executive</option>
                    <option value="unmarried">Junior Executive</option>
                    <option value="unmarried">Intern</option>
                </select>
            </div>
            <div class="form-group m-3">
                <label for="select_employee">Select Employee</label>
                <label for="select_designation">Select Designation</label>
                <select class="form-control form-control-sm" id="select_employee">
                    <option value="married">Mr. X</option>
                    <option value="unmarried">Mr. Y</option>
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success btn-sm">Search</button>
        </div>
    </div>
</div>


<div class="card-columns" style="width: 98%;">
    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #B0BEC5">
            <h4 class="text-center">Basic</h4>
        </div>

        <div class="card-body">
            <!-- <div class="form-group">
                <label for="designation">Designation</label>
                <select class="form-control form-control-sm" id="designation">
                        <option value="intern">Intern</option>
                        <option value="partTime">Part Time</option>
                        <option value="parmanent">Parmanent</option>
                      </select>
            </div> -->

            <div class="form-group">
                <label for="basic">Basic Salary</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="basic" required name="basic">
            </div>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #B0BEC5">
            <h4 class="text-center">Deductions</h4>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label>Provident Fund</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="provident_fund" required name="provident_fund">
            </div>

            <div class="form-group">
                <label>Tax Deduction</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="tax_deduction" required name="tax_deduction">
            </div>

            <div class="form-group">
                <label>Other Deduction</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="other_deduction" required name="other_deduction">
            </div>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #B0BEC5">
            <h4 class="text-center">Allowances</h4>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label>House Rent Allowance</label>
                <input type="email" class="form-control form-control-sm rounded-1" id="house_rent_allowance" required name="house_rent_allowance">
            </div>

            <div class="form-group">
                <label>Medical Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="medical_allowance" required name="medical_allowance">
            </div>

            <div class="form-group">
                <label>Special Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="special_allowance" required name="special_allowance">
            </div>

            <div class="form-group">
                <label>Phone Bill Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="phone_bill_allowance" required name="phone_bill_allowance">
            </div>

            <div class="form-group">
                <label>Fuel Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="fuel_allowance" required name="fuel_allowance">
            </div>

            <div class="form-group">
                <label>Other Allowance</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="other_allowance" required name="other_allowance">
            </div>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-header" style="background: #B0BEC5">
            <h4 class="text-center">Total Salary Detail</h4>
        </div>

        <div class="card-body">
            <div class="form-group">
                <label>Gross Salary</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="gross_salary" required name="gross_salary">
            </div>

            <div class="form-group">
                <label>Total Deduction</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="total_deduction" required name="total_deduction">
            </div>

            <div class="form-group">
                <label>Net Salary</label>
                <input type="text" class="form-control form-control-sm rounded-1" id="net_salary" required name="net_salary">
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success btn-md btn-block m-3" id="save_salary_btn" (click)="createUser()">Save</button>
</div>